body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    color: $primaryColor;
    font-size: 16px
}

main {
    width: 100%;
    max-width: $desktop;
    margin: 0 auto
}

#countdown {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 40vh auto 0 auto;

    div {
        flex: 0 0 20%;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: $borderRadius;
        padding: $padding 0;
        margin: $margin 0;
        text-align: center;
        font-size: 3em;

        @media only screen and (max-width: $tablet) {
            flex: 0 0 100%;
        }

        span {
            font-size: 1.8rem
        }
    }
}
